# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Programmering 2\HelloJavalin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
